/*
	=================================================================================================
		Section.
	=================================================================================================
*/

.section {
    position: absolute;
    
    @include size(100%);
    
    @include media($bp-medium) {
          position: relative;
      height: 100vh;
  
          @include section-padding;
      } // end-bp-medium
    
    @include media($bp-mobile) {
          position: relative;
      height: auto;
  
          @include section-padding;
      } // end-bp-mobile
  
      @include media($bp-max-h) {
          position: relative;
      height: auto;
  
          @include section-padding;
      } // end-bp-max-h
    
    .section-container {
          @include v-center;
      
      @include media($bp-mobile) {
              top: 0;
              transform: none;
        } // end-bp-mobile
  
          @include media($bp-max-h) {
              top: 0;
              transform: none;
        } // end-bp-max-h
      
    } // end-section-container
    
  } // end-sections
  
  /*